{% extends 'base.html.twig' %}

{% block body %}
    <section class="site-section" style="background-image: url(https://static.gamespot.com/uploads/scale_super/171/1712892/3361298-infinity-gauntlet-stones.jpg);">
        <div class="container">
            <div class="row place">
                <div class="col-md-12 text-center">
                    <h2 class="white">Liste des joueurs</h2>
                </div>
            </div>
            <div class="row place">
                {% for player in players %}
                    <div class=" center col-lg-3 col-md-6 col-sm-6 col-6">
                        <h2 class="white">{{ player.name }}</h2>
                        <img class="course" src="{{ player.image }}" alt="Player"><br>
                        <p>Genre : {{ player.gender }}</p>
                        <p>Univers : {{ player.universe }}</p>
                        <p>Equipe : {{ player.team }}</p>
                        <a class=" btn btn-primary place create" href="{{ path('player_edit', { 'id': player.id }) }}">Modifier</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <br>
                <a href="{{ path('player_new') }}" class="btn btn-primary create top" >Créer un joueur</a>
            </div>
        </div>

        <ul>
            <li>
                <a href="{{ path('player_index') }}">Retour à l'accueil</a>
            </li>
        </ul>
    </section>
{% endblock %}