{% extends 'base.html.twig' %}

{% block body %}
    <section class="site-section" style="background-image: url(http://backgroundcheckall.com/wp-content/uploads/2017/12/avengers-background-11.jpg);">
        <div class="container">
            <div class="row place">
                <div class="col-md-12 text-center">
                    <h2 class="white">{{ player.name }}</h2>
                    <img class="courseplay" src="{{ player.image }}" alt="Player"><br>
                </div>
            </div>
            <div class="row place">
                {% for player in players %}
                    <div class=" center col-lg-3 col-md-6 col-sm-6 col-6">
                        <h2 class="white">{{ player.name }}</h2>
                        <img class="courseplay" src="{{ player.image }}" alt="Player"><br>
                        <p>{{ player.description }}</p>
                        <p>{{ player.team }}</p>
                        <p>{{ player.universe }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
