{% extends 'base.html.twig' %}

{% block body %}
    <section class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <h2>Liste des équipes</h2>
                </div>
            </div>
                <div class="row top-course">
                {% for team in teams %}
                    <div class=" center col-lg-2 col-md-4 col-sm-6 col-12">
                        <a href="#" class="course">
                            <img src="{{ team.image }}" alt="Team">
                            <h2>{{ team.name }}</h2>
                        </a>
                        <a href="{{ path('team_show', { 'id': team.id }) }}">Composition</a><br>
                        <a href="{{ path('team_edit', { 'id': team.id }) }}">Modifier</a>
                    </div>
                {% endfor %}
                </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <a href="{{ path('team_new') }}" class="btn btn-primary create" >Créer une équipe</a>
            </div>
        </div>
    </section>
{% endblock %}