{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <table>
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ team.name }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img src="{{ team.image }}"></td>
        </tr>
        {% for player in players %}
            <tr>
                <th>Name</th>
                <td>{{ player.name }}</td>
            </tr>
            <tr>
                <th>Universe</th>
                <td>{{ player.universe }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ player.image }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
